body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home Page */
.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.homescreen-box {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 44px;
  animation: title 2.6s linear;
  text-align: center;
  color: #ead3cb;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  70% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.start-button {
  font-size: 28px;
  background-color: black;
  padding: 25px;
  width: fit-content;
  animation: button 2.6s linear;
  color: #ead3cb;
  font-family: 'Ubuntu', sans-serif;
}

.start-button:hover {
  background-color: #ead3cb;
  color: #845460;
}

button[disabled] {
  opacity: 0.4;
  cursor: auto;
}

@keyframes button {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  70% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.background-image {
  width: 50%;
  height: 25%;
  opacity: 0.6;
  position: relative;
}

.background-image:nth-of-type(1n) {
  animation: image 1.2s ease-out;
}

.background-image:nth-of-type(2n) {
  animation: image 1.4s ease-out;
}

.background-image:nth-of-type(3n) {
  animation: image 1.7s ease-out;
}

.background-image:nth-of-type(4n) {
  animation: image 2s ease-out;
}

@keyframes image {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 0.6;
    transform: scale(1);
  }
}

/* Question Page */
.main-background {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-image {
  height: 100%;
  background-image: url('./assets/forest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Card with question */
.question-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #ead3cb;
  padding: 10px;
  margin: 4% 10px 5px 10px;
  background-color: black;
}

.question-title {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

/* Image and answer options */
.image-answer {
  margin: 20px 0;
}

.card-image {
  width: 100%;
  margin: 3px 0;
}

.options-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Progress bar, question counter */
.progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 5px 0;
}

.progress-bar {
  height: 20px;
  width: 85%;
  border: 1px solid #ead3cb;
}

.progress-filler {
  background: #973a3a;
  height: 100%;
  width: 100%;
  transition: width 0.5s linear;
}

.question-count {
  font-size: 18px;
  margin: 0;
}

/* Buttons */
button {
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.options-button {
  margin: 3px 0;
  background-color: #2b4f60;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  padding: 12px;
}

.options-button:hover:enabled {
  opacity: 0.7;
}

.options-button:active {
  outline: 2px solid #845460;
}

.next-button,
.restart-button {
  width: 100%;
  color: #ead3cb;
  background-color: #5b252d;
  font-family: 'Ubuntu';
  font-size: 20px;
  padding: 20px;
  margin: 10px 0;
}

.restart-button:hover {
  background-color: #ead3cb;
  color: #5b252d;
}

.next-button:hover:enabled {
  background-color: #ead3cb;
  color: #5b252d;
}

/* Summary Page */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  border: 5px solid #ead3cb;
  padding: 10px;
  margin: 10px;
  max-width: 800px;
}

.summary-answer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid white;
}

.summary-image {
  width: 90px;
  margin: 10px 0;
}

.score-text-wrapper {
  margin: 0 10px;
  font-size: 12px;
}

.right-score {
  margin: 5px;
}

.your-score {
  margin: 5px;
}

.score-bold {
  font-weight: bold;
}

.red {
  color: red;
  margin: 0 5px;
}

.green {
  color: green;
  margin: 0 5px;
}

.summary-text {
  font-size: 24px;
}

/* Media queries */
@media (min-width: 768px) {
  .main-container {
    height: 100vh;
  }

  .question-title {
    max-width: 750px;
    font-size: 26px;
  }

  .question-card-container {
    padding: 20px;
    width: 700px;
    margin: 10px;
  }

  .image-answer {
    display: flex;
    flex-direction: row;
  }

  .options-container {
    padding-left: 20px;
  }

  .card-image {
    width: 60%;
  }

  .progress-bar {
    width: 90%;
  }

  .question-count {
    font-size: 22px;
  }

  .options-button {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 5px;
  }

  .next-button {
    padding: 25px;
    font-size: 24px;
  }

  .summary-container {
    padding: 30px;
  }

  .score-text-wrapper {
    margin: 0 20px;
    font-size: 16px;
  }

  .summary-text {
    font-size: 28px;
  }
}

@media (min-width: 1025px) {
  .background-image {
    width: 25%;
    height: 50vh;
  }
}
